a {
  text-decoration: none;
}
p {
  color: #979797;
  font-family: "Raleway", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
